#adelie, #african, #emperor, #rockhopper, #little, #chinstrap {
  font-size: 45px;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

#adelieall {
    background-color: #3A7CAD;
}

#africanall {
    background-color: #648ba8;
}

#emperorall {
  background-color: #a7a2bf;
}

#rockhopperall {
  background-color: #7F737F;
}

#littleall {
  background-color: #825682;
}

#chinstrapall {
  background-color: #635663;
}

#footer {
  background-color: #434444;
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: -45px
}

a {
  color: black;
}

a:hover {
  color: #595a5a;
}

.h6 {
  font-size: 18px;
}

.display-2, h4 {
  color: #194775;
}

header .display-2 {
  font-size: 3.5rem;
}

@media (min-width: 675px) {
   #adelieinfo, #africaninfo, #emperorinfo, #rockhopperinfo, #littleinfo, #chinstrapinfo {
    font-size: 25px;
}
  }
