#main-container {
  background-color: #57ceea;
}

#adelieall {
    background-color: #7daed3;
}


#adelie {
  font-size: 55px;
  margin-bottom: 3rem;
}

#africanall {
    background-color: #648ba8;
}

#emperorall {
  background-color: #a7a2bf;
}

#rockhopperall {
  background-color: #887B88;
}

#littleall {
  background-color: #825682;
}

#chinstrapall {
  background-color: #635663;
}
