#adelie, #african, #emperor, #rockhopper, #little, #chinstrap {
  font-size: 45px;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

#adelieall {
    background-color: #7daed3;
}

#africanall {
    background-color: #648ba8;
}

#emperorall {
  background-color: #a7a2bf;
}

#rockhopperall {
  background-color: #887B88;
}

#littleall {
  background-color: #825682;
}

#chinstrapall {
  background-color: #635663;
}

#footer {
  background-color: #434444;
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: -45px
}

.h6 {
  font-size: 18px;
}

#adelieinfo, #africaninfo, #emperorinfo, #rockhopperinfo, #littleinfo, #chinstrapinfo {
  font-size: 25px;
}

@media (max-width: 768px): {
   #adelieinfo, #africaninfo, #emperorinfo, #rockhopperinfo, #littleinfo, #chinstrapinfo {
    font-size: 12px;
}
  }
